In [1]:
import pandas as pd
import numpy as np

# Series
Series可以看成一个定长的有序字典，能够保存任何数据类型;
最重要的一个功能：会根据运算的索引标签自动对齐数据；类似join的操作
## 数据访问 索引

In [28]:
s = pd.Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])  # 默认带索引 0~n-1
print(s.index, s.values)
print("通过索引获取", s['a'], s.get('e', np.nan))  #
print("通过下标获取\n", s[[3,2]])  #
print("通过条件获取\n", s[s.values > 0])
s["e"] = 100  # 修改某个值
s.rename("demo")

Index(['d', 'b', 'a', 'c'], dtype='object') [ 4  7 -5  3]
通过索引获取 -5 nan
通过下标获取
 c    3
a   -5
dtype: int64
通过条件获取
 d    4
b    7
c    3
dtype: int64

d      4
b      7
a     -5
c      3
e    100
Name: demo, dtype: int64

## 运算

In [27]:
s = pd.Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])
print(s * 2)
print(np.exp(s))
print(s[1:] + s[:-1])  # ??

d     8
b    14
a   -10
c     6
dtype: int64
d      54.598150
b    1096.633158
a       0.006738
c      20.085537
dtype: float64
a   -10.0
b    14.0
c     NaN
d     NaN
dtype: float64

## 时间和日期
H小时 T min分钟 S秒 L ms毫秒  D天 W周 M月 Q季度

In [45]:
print(pd.date_range('1/1/2011', periods=5, freq='2D'))

DatetimeIndex(['2011-01-01', '2011-01-03', '2011-01-05', '2011-01-07',
               '2011-01-09'],
              dtype='datetime64[ns]', freq='2D')

# DataFrame
一个表格型的数据结构

## 数据获取
### 从文件中获取

In [5]:
data = pd.read_csv('../pytorch_note/dataset/Income1.csv')  # 从文件中获取DataFrame
data

    Unnamed: 0  Education     Income
0            1  10.000000  26.658839
1            2  10.401338  27.306435
2            3  10.842809  22.132410
3            4  11.244147  21.169841
4            5  11.645485  15.192634
5            6  12.086957  26.398951
6            7  12.488294  17.435307
7            8  12.889632  25.507885
8            9  13.290970  36.884595
9           10  13.732441  39.666109
10          11  14.133779  34.396281
11          12  14.535117  41.497994
12          13  14.976589  44.981575
13          14  15.377926  47.039595
14          15  15.779264  48.252578
15          16  16.220736  57.034251
16          17  16.622074  51.490919
17          18  17.023411  61.336621
18          19  17.464883  57.581988
19          20  17.866221  68.553714
20          21  18.267559  64.310925
21          22  18.709030  68.959009
22          23  19.110368  74.614639
23          24  19.511706  71.867195
24          25  19.913043  76.098135
25          26  20.354515  75.775218
26          27  20.755853  72.486055
27          28  21.157191  77.355021
28          29  21.598662  72.118790
29          30  22.000000  80.260571

### 从字典中获取

In [43]:
d1 = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002, 2003],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
df = pd.DataFrame(d1,
                  columns=['year', 'state', 'pop', 'date'],
                  index=['one', 'two', 'three', 'four','five', 'six'])
df["date"] = pd.date_range("20200808", periods=6, freq="2D")
df

       year   state  pop       date
one    2000    Ohio  1.5 2020-08-08
two    2001    Ohio  1.7 2020-08-10
three  2002    Ohio  3.6 2020-08-12
four   2001  Nevada  2.4 2020-08-14
five   2002  Nevada  2.9 2020-08-16
six    2003  Nevada  3.2 2020-08-18

## 数据访问 索引
和Series类似，和二维数组切片一致

In [50]:
print(df.head(3))  # 前几行
print(df['state'])  # 选择列 类似select  = df.state
print(df.loc['two'])  # 选择行 第二行
df.iloc[:3, -2:]  # 前3行后两列

       year state  pop       date
one    2000  Ohio  1.5 2020-08-08
two    2001  Ohio  1.7 2020-08-10
three  2002  Ohio  3.6 2020-08-12
one        Ohio
two        Ohio
three      Ohio
four     Nevada
five     Nevada
six      Nevada
Name: state, dtype: object
year                    2001
state                   Ohio
pop                      1.7
date     2020-08-10 00:00:00
Name: two, dtype: object

       pop       date
one    1.5 2020-08-08
two    1.7 2020-08-10
three  3.6 2020-08-12

## 方法

In [47]:
print(df.size, df.shape)  # 多少个元素, 形状
print(len(df))  # 多少行
print(df.count(axis=1))  # 默认0轴
print(df["pop"].value_counts())

24 (6, 4)
6
one      4
two      4
three    4
four     4
five     4
six      4
dtype: int64
1.5    1
1.7    1
3.6    1
2.4    1
2.9    1
3.2    1
Name: pop, dtype: int64

## 分组 groupby

In [13]:
ipl_data = {'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',
                     'Kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
            'Rank': [1, 2, 2, 3, 3, 4, 1, 1, 2, 4, 1, 2],
            'Year': [2014, 2015, 2014, 2015, 2014, 2015, 2016, 2017, 2016, 2014, 2015, 2017],
            'Points': [876, 789, 863, 673, 741, 812, 756, 788, 694, 701, 804, 690]}
df = pd.DataFrame(ipl_data)
grouped = df.groupby('Team')  # 分组 或groupby(['Team', 'Year'])
for name, group in grouped:  # 遍历组
    print(name)
    print(group)

groups = grouped.groups  # 字典
for k, v in groups.items():
    print(k, v)

Devils
     Team  Rank  Year  Points
2  Devils     2  2014     863
3  Devils     3  2015     673
Kings
    Team  Rank  Year  Points
4  Kings     3  2014     741
5  Kings     4  2015     812
6  Kings     1  2016     756
7  Kings     1  2017     788
Riders
      Team  Rank  Year  Points
0   Riders     1  2014     876
1   Riders     2  2015     789
8   Riders     2  2016     694
11  Riders     2  2017     690
Royals
      Team  Rank  Year  Points
9   Royals     4  2014     701
10  Royals     1  2015     804
Devils Int64Index([2, 3], dtype='int64')
Kings Int64Index([4, 5, 6, 7], dtype='int64')
Riders Int64Index([0, 1, 8, 11], dtype='int64')
Royals Int64Index([9, 10], dtype='int64')

In [12]:
print(grouped.get_group("Kings"))  # 选择组
print(grouped['Points'].agg(np.mean))  # 聚合
print(grouped['Points'].agg([np.sum, np.mean, np.std]))
print(grouped.transform(lambda x: (x * 10)))  # 转换
print(grouped.filter(lambda x: len(x) >= 3))  # 过滤

    Team  Rank  Year  Points
4  Kings     3  2014     741
5  Kings     4  2015     812
6  Kings     1  2016     756
7  Kings     1  2017     788
Team
Devils    768.00
Kings     774.25
Riders    762.25
Royals    752.50
Name: Points, dtype: float64
         sum    mean         std
Team
Devils  1536  768.00  134.350288
Kings   3097  774.25   31.899582
Riders  3049  762.25   88.567771
Royals  1505  752.50   72.831998
    Rank   Year  Points
0     10  20140    8760
1     20  20150    7890
2     20  20140    8630
3     30  20150    6730
4     30  20140    7410
5     40  20150    8120
6     10  20160    7560
7     10  20170    7880
8     20  20160    6940
9     40  20140    7010
10    10  20150    8040
11    20  20170    6900
      Team  Rank  Year  Points
0   Riders     1  2014     876
1   Riders     2  2015     789
4    Kings     3  2014     741
5    Kings     4  2015     812
6    Kings     1  2016     756
7    Kings     1  2017     788
8   Riders     2  2016     694
11  Riders     2  2017     690

## 连接 join

In [14]:
left = pd.DataFrame({
    'id': [1, 2, 3, 4, 5],
    'Name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'],
    'subject_id': ['sub1', 'sub2', 'sub4', 'sub6', 'sub5']})
right = pd.DataFrame(
    {'id': [1, 2, 3, 4, 5],
     'Name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'],
     'subject_id': ['sub2', 'sub4', 'sub3', 'sub6', 'sub5']})
print(left)
print(right)

   id    Name subject_id
0   1    Alex       sub1
1   2     Amy       sub2
2   3   Allen       sub4
3   4   Alice       sub6
4   5  Ayoung       sub5
   id   Name subject_id
0   1  Billy       sub2
1   2  Brian       sub4
2   3   Bran       sub3
3   4  Bryce       sub6
4   5  Betty       sub5

In [16]:
print(pd.merge(left, right, on='id'))
print(pd.merge(left, right, on=['id', 'subject_id']))
print(pd.merge(left, right, on='subject_id', how='inner'))  # left左连接 right右连接 outer外连接 inner自然连接(默认)

   id  Name_x subject_id_x Name_y subject_id_y
0   1    Alex         sub1  Billy         sub2
1   2     Amy         sub2  Brian         sub4
2   3   Allen         sub4   Bran         sub3
3   4   Alice         sub6  Bryce         sub6
4   5  Ayoung         sub5  Betty         sub5
   id  Name_x subject_id Name_y
0   4   Alice       sub6  Bryce
1   5  Ayoung       sub5  Betty
   id_x  Name_x subject_id  id_y Name_y
0     2     Amy       sub2     1  Billy
1     3   Allen       sub4     2  Brian
2     4   Alice       sub6     4  Bryce
3     5  Ayoung       sub5     5  Betty

## Concat连接

In [17]:
one = pd.DataFrame({
    'Name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'],
    'subject_id': ['sub1', 'sub2', 'sub4', 'sub6', 'sub5'],
    'Marks_scored': [98, 90, 87, 69, 78]},
    index=[1, 2, 3, 4, 5])
two = pd.DataFrame({
    'Name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'],
    'subject_id': ['sub2', 'sub4', 'sub3', 'sub6', 'sub5'],
    'Marks_scored': [89, 80, 79, 97, 88]},
    index=[1, 2, 3, 4, 5])
print(one)
print(two)

     Name subject_id  Marks_scored
1    Alex       sub1            98
2     Amy       sub2            90
3   Allen       sub4            87
4   Alice       sub6            69
5  Ayoung       sub5            78
    Name subject_id  Marks_scored
1  Billy       sub2            89
2  Brian       sub4            80
3   Bran       sub3            79
4  Bryce       sub6            97
5  Betty       sub5            88

In [19]:
print(pd.concat([one, two]))  # 默认连接0轴(多行合并)
print(pd.concat([one, two], axis=1))
print(pd.concat([one, two], keys=['x', 'y'], ignore_index=True))  # 重建索引

     Name subject_id  Marks_scored
1    Alex       sub1            98
2     Amy       sub2            90
3   Allen       sub4            87
4   Alice       sub6            69
5  Ayoung       sub5            78
1   Billy       sub2            89
2   Brian       sub4            80
3    Bran       sub3            79
4   Bryce       sub6            97
5   Betty       sub5            88
     Name subject_id  Marks_scored   Name subject_id  Marks_scored
1    Alex       sub1            98  Billy       sub2            89
2     Amy       sub2            90  Brian       sub4            80
3   Allen       sub4            87   Bran       sub3            79
4   Alice       sub6            69  Bryce       sub6            97
5  Ayoung       sub5            78  Betty       sub5            88
     Name subject_id  Marks_scored
0    Alex       sub1            98
1     Amy       sub2            90
2   Allen       sub4            87
3   Alice       sub6            69
4  Ayoung       sub5            78
5   Billy       sub2            89
6   Brian       sub4            80
7    Bran       sub3            79
8   Bryce       sub6            97
9   Betty       sub5            88

# 索引对象
就类似数据库表中的主键id
负责管理轴标签和其他元数据（比如轴名称等）

append 连接另一个Index对象,产生一个新的Index
difference 计算差集,并得到一个Index
intersection 计算交集
union 计算并集
isin 计算一个指示各值是否都包含在参数集合中的布尔型数组
delete 删除索引i处的元素,并得到新的Index
drop 删除传入的值,并得到新的Index
insert 将元素插入到索引i处,并得到新的Index
is_monotonic 当各元素均大于等于前一个元素时,返回True
is_unique 当Index没有重复值时,返回True
unique计算Index中唯一值的数组

In [38]:
s = pd.Series([4, 7, -5, 3])
print(s.index)

RangeIndex(start=0, stop=4, step=1)

## 重新索引
reindex函数的参数：
    index用作索引的新序列。
    method插值(填充)方式,具体参数请参见表5-4
    fill_value 在重新索引的过程中,需要引入缺失值时使用的替代值
    limit前向或后向填充时的最大填充量
    tolerance向前后向后填充时,填充不准确匹配项的最大间距(绝对值距离)
    level在Multilndex的指定级别上匹配简单索引,否则选取其子集
    copy默认为True,无论如何都复制;如果为False,则新旧相等就不复制

In [45]:
s = pd.Series([4.5, 7.2, -5.3, 3.6])
print(s.reindex(range(6), method="ffill"))  # 前向值填充，用于时间序列这样的有序数据

0    4.5
1    7.2
2   -5.3
3    3.6
4    3.6
5    3.6
dtype: float64

# 看到5.2.2节了